# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 54.37.68.244
    database_port: 3306
    database_name: AFC_app
    database_user: afc
    database_password: erer1234
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    locale: fr_FR
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    
    fb_client_id: 968349889997372
    fb_secret_id: ec7886f9d67606779a05c1a62d15e8ea
    google_client_id:  926896433138-hbp1g40d8qjs5dn84ltsksiuvoc915hh.apps.googleusercontent.com
    google_secret_id:  LMCtymfl7fSgFrrYdhthqnjv
