{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "AFCRunningPlatformBundle::layout.html.twig" %}

{% block name %}
  <div class="row">
   <span class="text-info">
       <h1>Présentation de l'application</h1>
   </span>
   <hr/>
 </div>
{% endblock name %}

{% block container %}
  <div class="row">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus nibh ligula, vitae facilisis mi congue vitae. Integer auctor, mi eu convallis feugiat, magna dolor dignissim ipsum, in pretium sem est in eros. Vivamus ac erat ut leo iaculis dapibus id quis eros. Praesent faucibus diam at iaculis interdum. Duis congue ultricies mi blandit luctus. Proin augue dolor, porta sit amet dolor sit amet, lobortis efficitur nisl. Morbi condimentum sem at dolor mollis porta. Nulla id nulla nec nunc aliquam rhoncus eget sed ipsum. Aenean dictum nisi tellus, vel posuere nulla lacinia ut. Fusce lectus leo, porta non nibh ac, cursus faucibus sapien. Nulla euismod imperdiet tortor, at sagittis leo cursus sed. </p>
    <p>
      Maecenas feugiat ipsum arcu, in cursus dolor venenatis in. Vivamus lacinia felis in felis bibendum, in ornare dui sagittis. Vestibulum ligula nisi, aliquam sit amet consequat vel, dignissim sed ipsum. Sed id placerat nunc, vitae semper nisi. Vivamus pretium, libero non elementum imperdiet, nulla metus porta dui, at malesuada erat ipsum a mauris. Suspendisse a rutrum ligula, nec venenatis mi. Aliquam a lectus non nulla posuere viverra. Etiam et magna orci. Duis orci ipsum, faucibus dignissim pharetra id, consectetur in metus. Vivamus ac vestibulum erat, ac malesuada felis. Mauris eu pulvinar quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse rutrum lacus eu tortor tincidunt, sed luctus mi dapibus. Duis in mauris quis eros tempus consequat sit amet in mi.
    </p>
    <p>
      Cliquez sur l'image pour télécharger l'application : <a href="#"><img src="https://puu.sh/zBKa5/0faaccd06c.png" alt="android logo" height="50" width="55"></a>
    </p>
  </div>
{% endblock %}
