{# src/OC/PlatformBundle/Resources/views/Default/indexAuth.html.twig #}

{% extends "AFCRunningPlatformBundle::layout.html.twig" %}

{% block name %}
   <span class="text-info">
       <h1>Historique des entrainements</h1>
   </span>
   <hr/>
{% endblock name %}

{% block container %}
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-10">03/04/18 - Muscu 30 min</div>
          <div class="col-md-2 btn btn_historique_entrainement btn-primary">Afficher</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-10">01/02/18 - Vélo 1H</div>
          <div class="col-md-2 btn btn_historique_entrainement btn-primary">Afficher</div>
        </div>
      </li>
      <li class="list-group-item">...</li>
      <li class="list-group-item">...</li>
      <li class="list-group-item">...</li>
    </ul>
    <nav>
      <ul class="pagination">
        <li><a arial-label="Previous"><<</a></li>
        <li><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li><a>5</a></li>
        <li><a arial-label="Previous">>></a></li>
      </ul>
    <nav>
  </div>
{% endblock %}
