{# src/OC/PlatformBundle/Resources/views/Default/rightPanel.html.twig #}

<div id="right_panel" class="jumbotron">
  <h2>{{ content.title }}</h2>
  <p style="word-wrap: break-word">{{ content.text }}</p>
</div>
