{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "AFCRunningPlatformBundle::layout.html.twig" %}

{% block name %}
   <span class="text-info">
       <h1>Administration</h1>
   </span>
   <hr/>
{% endblock name %}

{% block container %}
  <div class="row">
  <ul class="nav nav-pills nav-stacked">
    {% for listMenu in listMenus %}
      <li>
        <a href="admin/{{ listMenu.url }}">
          {{ listMenu.title }}
        </a>
      </li>
    {% endfor %}
</ul>
  </div>
{% endblock %}
