{# src/AFC/RunningPlatformBundle/Resources/views/Defis/afficherDefis.html.twig #}

{% extends "AFCRunningPlatformBundle::layout.html.twig" %}

{% block title %}
AFCRunning - Défis
{%endblock title %}

{% block name %}
   <span class="text-info">
       <h1>Afficher les défis</h1>
   </span>
   <hr/>
{% endblock name %}

{% block container %}
	<div class = "row">
		<form>
			<table class="table table-bordered">
				<!-- header -->
				<tr>
					<th>Défi</th>
					<th>Temps</th>
          				<th>Distance</th>
          			</tr>
				{% for defi in defis %}
					<tr>
						<td>{{defi.iddefis}}</td>
						<td>{{defi.temps}}min</td>
						<td>{{defi.distance}}mètres</td>
					</tr>
				{% endfor %}
			</table>
		</form>
	</div>	
{% endblock %}
