{# src/AFC/RunningPlatformBundle/Resources/views/Defis/creerDefis.html.twig #}

{% extends "AFCRunningPlatformBundle::layout.html.twig" %}

{% block title %}
AFCRunning - Défis
{%endblock title %}

{% block name %}
   <span class="text-info">
       <h1>Création d'un défi</h1>
   </span>
   <hr/>
{% endblock name %}

{% block container %}
  <br/>
  <div class="row ">
    <form>
      <table id="creerDefis_table" class="table table-bordered">

        <!-- Temps -->
        <tr>
          <td>
            Temps
          </td>
          <td>
            <input type="text" class="form-control" id="tempsInput">
          </td>
          <td>
            minutes
          </td>
        </tr>

	<!-- Distance -->
        <tr>
          <td>
            Distance
          </td>
          <td>
            <input type="text" class="form-control" id="distanceInput">
          </td>
          <td>
            mètres
          </td>
        </tr>

      </table>
      <a class="btn btn-primary profil_btn">Lancer le défi</a>
      <a class="btn btn-primary profil_btn">Retour</a>
    </form>
  </div>
{% endblock %}
