{# src/AFC/RunningPlatformBundle/Resources/views/Defis/index.html.twig #}

{% extends "AFCRunningPlatformBundle::layout.html.twig" %}

{% block name %}
   <span class="text-info">
       <h1>Défis</h1>
   </span>
   <hr/>
{% endblock name %}

{% block container %}
    <nav>
      <ul class="pagination">
        <li><a>Créer un défi</a></li>
        <li><a>Afficher les défis</a></li>
      </ul>
    </nav>
{% endblock %}
